---
import ToolLandingLayout from '../layouts/ToolLandingLayout.astro';
import { SplitToolPage } from '@lunedoc/tools';
import { SPLIT_PAGE } from '../data/split-pdf';

const lang = 'en';
const content = SPLIT_PAGE[lang];
---

<ToolLandingLayout
  lang={lang}
  canonicalPath="/split-pdf"
  toolDisplayName="Split PDF"
  toolIconName="split"
  toolBadgeTone={252}
  content={content}
  relatedToolKeys={['merge', 'compress', 'edit', 'watermark']}
>
  <div style="max-width: 1080px; margin: 0 auto; padding: 0 1.5rem;">
    <SplitToolPage lang={lang} client:load />
  </div>
</ToolLandingLayout>
